Cython
setuptools
TTS==0.22.0
trainer
# torch
# torchaudio
openai-whisper
pydub
librosa
soundfile
boto3
python-dotenv
fastapi
uvicorn
transformers==4.33.1
tokenizers
accelerate
requests
# fairseq dihapus karena bug PyPI, diinstal via git di dockerArgs
praat-parselmouth
pyworld
faiss-cpu
scipy
